//Default Form Styles
.form-box{

    display:flex;
    width:100%;
    max-width: 436px;
    flex-direction: column;
  
    padding: 0 20px;
    box-sizing: border-box;
  
    h3{
      font-size:30px;
      font-weight: 400;
      color:#707070;
      padding-bottom: 20.2%;
    }    

    h6{
        width:100%;
        font-size:13.9px;
        font-weight: 500;
        color:#707070;
        text-align: center;
    }

    h4{
      
      color:#707070;
      font-size:14px;
      margin-bottom: 20px;
    }
  
    .form-row{
      display:flex;
      flex-direction: column;      
      align-items: center; 
  
      width:auto;
      width:100%;
      margin-bottom: 20px;     
  
      > span{
        width:100%;
        font-size:13.9px;
        font-weight: 400;
        color:#707070;
        text-align: left;
      }

      input[type="text"],
      input[type="password"]{
        width:100%;
        border:0;
        border-bottom: 1px solid #707070;
        padding: 13px 21px;
        box-sizing: border-box;
        outline: 0;
    
        font-family: $font;
        color:#000000;
        font-size: 16px;
        font-weight:400;
      }
    
      input[type="text"]::placeholder{
        color:#000000;
      }

      &.form-error{
        
        input[type="text"],
        input[type="password"]{

          border-color: #e81111;
        }
      }
    }
  
    .btn{
      background: #707070;
      border-radius: 40px;
      padding:13px 62px;
      margin-bottom: 20px;
      cursor: pointer;
      
      &,span{
        font-size:16px;
        font-family: $font;
        color:#FFFFFF;
        font-weight: 600;
      }
    }
  
    a{
      font-size:16px;
      font-weight: 400;
      color:#A9C5BA;
      cursor: pointer;
      text-decoration:underline;
  
      &.link-gray{
        font-size:13.9px;
        width: 100%;
        text-align: right;
        color:#707070;
        margin-bottom: 10px;
        text-decoration: none;
      }
    }
  
    p{
      font-family: $font;
      font-size:13.9px;
      color:#707070;
      font-weight: 400;
      strong{
        font-weight: 900;
        color:#3f3f3f;
      }
    }
  
    .form-detailed-spacement{
      width: 80%;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content:center;
      margin-bottom: 15px;
  
      &:after,
      &:before{
        content:"";
        float:left;
        display: flex;
  
        width:100%;
        height: 1px;
        background-color: #b7b7b7;
      }
  
      span{
        padding:0 20px;
        width: auto;
        font-size:15px;
        font-weight: 400;
        color:#707070;
      }
    }
  
    .btn-google{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      padding:8px 35px 8px 30px;
      margin-bottom: 20px;
      border-radius: 30px;
      box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.15);
  
      &:before{
        content:"";
        display: flex;
        width:30px;
        height: 30px;
        background: url('../images/Google__G__Logo.svg') center center;
        background-size:100% 100%;
        margin-right: 20px;
        margin-left: 0px;
      }
  
      span{
        display: flex;
        font-family: $font-google;
        font-size:18px;
        font-weight: 900;
        color:#000000;
      }
    }
  
  }