.App-logo {
    width:100%;
    max-width: 118px;
    pointer-events: none;
}
  
.App-header {
    display: flex;
    position: absolute;
    flex-direction:row;
    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;
    top:0;
    right: 0;
    margin:6.75% 6.6% 0 0 ;
        
    @media (max-width: 1700px) {
        position: relative;
        top:auto;left:auto;right:auto;
        margin:10% 10% 0 0;        
    }
}