@import "assets/scss/variables";
@import "assets/scss/formdefaults";

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width:100%;
  min-height: 100vh;
  
  @media (max-width: $mobile-size) {
    flex-direction: column;
  }
}

*{
  margin:0;
  padding:0;
  border:0;
  outline: 0;
}

.col{
  display: flex;
  flex-direction: column;
  width:50%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-size) {
    width: 100%;
    min-height: unset;
  }

}