.box-slider{
    background: #a9c5ba;
    width:100%;
    color:#ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{        
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 20px;
    }

    h3{
        width: 100%;
        max-width: 500px;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 65px;
    }

    img{
        display:flex;
        max-width: 705px;
        width:100%;
        margin-top: 13px;
        margin-bottom: 30px;
        background: none;
    }

    .slider{
        width: 100%;
        text-align: center;

        .slide{
            background: none;
            
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .control-dots{
            
            li{
                width:12px;
                height: 12px;
                background: #ffffff;
                border-radius: 50%;
                box-shadow:none;

                margin: 0 6px;
                transition: all 200ms ease;
                opacity: .5;

                &.selected{
                    opacity: 1;
                    width:26px;
                    border-radius: 10px;

                }
            }
        }
    }
}